extends ../layout

block content
	p
		| Here is the list of articles:
	table(border="1px")
		tr
			td
				| Price
			td
				| Title
			td
				| Content
			td
				| User
		each article, index in articles
			tr
				td= article.price
				td= article.title
				td= article.content
				td
					= article.user.displayName
					if (user)
						if (user._id == article.user._id)
							| (You posted this article)


	p
	a(href='/articles/create') Create a new article
