doctype html
html
  head
    title= title
  body
    div(align='left') 
      a(href="/") BookPrj
    if (!user)
      div(align='right') 
        a(href="/auth/signin") Sign in
        = ' '
        a(href="/auth/signup") Sign up
    if (user)
      div(align='right') 
        = 'Hi '
        - var a = user.username 
        a(href="/users/me") #{a}
        = '!'
        = ' '
        a(href="/auth/signout") Sign out
    hr
    block content