extends ../layout

block content
	h1= title
	form(method='post', action='/auth/reset/#{token}')
		input(name='newPassword', class='input-block-level', type='password', placeholder='password')
		input(name='verifyPassword', class='input-block-level', type='password', placeholder='verify password')

		input(type='submit', class='btn btn-primary', value='Reset Password')